$primary-color: #333;
$text-color: #fff;
$icon-bg: rgba(0, 0, 0, 0.6);
$modal-bg: rgba(0, 0, 0, 0.8);
$gap: 36px;

.c-dropdown-gallery {

  .toggle-bar2 {
    background: url(../asset/images/lable-prize-2.png) !important;
    background-size: cover !important;
    @media screen and (max-width: 768px) {
    background: url(../asset/images_sp/lable-prize-2_sp.png) !important;;
    background-size: 100% auto !important;
    background-position: center !important;
  }
  }

  .toggle-bar3 {
    background: url(../asset/images/lable-prize-3.png) !important;
    background-size: cover !important;
    @media screen and (max-width: 768px) {
    background: url(../asset/images_sp/lable-prize-3_sp.png) !important;;
     background-size: 100% auto !important;
    background-position: center !important;
  }
  }

  .toggle-bar4 {
    background: url(../asset/images/lable-prize-4.png) !important;
    background-size: cover !important;
    @media screen and (max-width: 768px) {
    background: url(../asset/images_sp/lable-prize-4_sp.png) !important;;
     background-size: 100% auto !important;
    background-position: center !important;
  }
  }

  .toggle-bar {
    position: relative;
    background: url(../asset/images/lable-prize-1.png);
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center !important;
    padding: 33px 0;
    cursor: pointer;
    user-select: none;
    @media screen and (max-width: 768px) {
    background: url(../asset/images_sp/lable-prize-1_sp.png);
    background-size: 100% auto;
    background-position: center;
    padding: 22px 0;
}

    .bg-triagle {
      position: absolute;
      background-image: url(../asset/images/trialgle-bg.png);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-position-x: left;
      top: -3%;
      right: 0px;
      height: 69px;
      width: 84px;
      @media screen and (max-width: 768px) {
        height: 46px;
    width: 84px;
      }
    }

    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 25px solid #fff;
      transform: translateY(-50%) rotate(0deg);
      transition: transform 0.3s ease;
      top: 47%;
      right: 25%;

      &.rotate {
        transform: translateY(-50%) rotate(180deg);
      }

      @media screen and (max-width: 768px) {
        border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #fff;
      }

    }
  }


}

.img-container {
  position: relative;

  &.hidden {
    display: none;
    
    
  }

  .c-dropdown-gallery-item {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 6em;
    padding-bottom: 30px;

    @media screen and (max-width: 768px) {
      margin: -1px;
    }

    img{
      width: 100%;
    }

    p {
      font-size: 16px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      text-align: center;
    }
  }
}

.image-grid {
  padding: 35px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: $gap;
  background-color: #fff;
  text-align: center;

  .image-container {
    position: relative;
    margin: 0 auto;
    max-width: 270px;
    max-height: 325px;

    img {

      display: block;
    }

    p {

      font-size: 16px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      text-align: center;

    }

    .zoom-icon {
      position: absolute;
      top: 6px;
      right: 6px;
      background: url(../asset/icons/zoom-icon.png);
      color: white;
      padding: 14px;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
    }
  }


}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 50px;

  .slick-list {
    img {
    min-width: 520px;
    padding: 50px;
    background-color: #fff;
  }
  }
  
  .close-modal {
    position: absolute;
    top: 65px;
    right: 65px;
    width: 27px;
    height: 27px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 27px;
      height: 2px;
      background-color: rgba(8, 78, 141);
      transform-origin: center;
      transform: translate(-50%, -50%);
    }
  
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    &:hover::before,
    &:hover::after {
      background-color: rgba(8, 78, 141);
    }
  }
  .modal-slider{
    position: relative;

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  
  cursor: pointer;
}
.custom-prev {
  left: 10px;
}
.custom-next {
  right: 10px;
}


}
  
}


//gallery-rank
.c-dropdown-gallery-rank {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin: -1px;
  }
  .line-wrapper {
    position: relative;
    text-align: center;
    margin: 20px 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #333;
      z-index: 1;
    }
  }



  .ranking-text {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    background: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
  }

  .c-item {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;

    .c-item-inner {
      p {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}