:root {
  --brand-primary: #d7092f;
  --neutral-text-black: #333;
  --neutral-text-black-rgb: 51,51,51;
  --neutral-black: #000;
  --neutral-black-rgb: 0,0,0;
  --neutral-white: #fff;
  --neutral-white-rgb: 255,255,255;
  --neutral-purple: #4f1b77;
  --neutral-purple-2: #320653;
  --neutral-green: #107239;
  --neutral-green-2: rgba(9, 58, 71, 0.7019607843);
  --neutral-blue: #3356b8;
  --neutral-blue-2: #113494;
  --neutral-red: #8b1113;
  --neutral-pink: #e74391;
  --neutral-gray-warm-rgb: 89,87,87;
  --neutral-orange: #cc472f;
  --neutral-orange-2: #ea6125;
  --neutral-brown-rgb: 49,41,31;
  --neutral-joshi: #e65069;
  --neutral-cream-rose: #f9f1ed;
  --neutral-nyanwan-brown: #583c32;
  --neutral-nyanwan-yellow: #ffdc00;
  --neutral-olive: 147, 131, 94,;
  --gray-1: #f6f6f6;
  --gray-2: #e9e9e9;
  --gray-2-rgb: 233,233,233;
  --gray-3: #c3c3c3;
  --gray-4: #898989;
  --gray-5: #656464;
  --gray-light: #ebebeb;
  --gray-text-gray: #595757;
  --accent-gold: #84795d;
  --gradiention: linear-gradient(to left, #8b1113 0%, #d7092f 100%);
  --gradiention-1: linear-gradient(to right, #d6082e 0%, #f4585a 100%);
  --gradiention-2: linear-gradient(to top, #8b1113 0%, #d7092f 100%);
  --gradiention-3: linear-gradient(to right, #cf1336 0%, #b80d2d 100%);
  --gradiention-4: linear-gradient(180deg, #d7092f 0%, #970507 100%);
  --gradiention-gray: linear-gradient(to right, #e9e9e9 0%, #c3c3c3 100%);
  --gradiention-gray-2: linear-gradient(90deg, #898989 0%, #b1b1b1 68.27%);
  --gradiention-gray-3: linear-gradient(270deg, rgba(198, 178, 144, 0.3) 0%, rgba(223, 214, 198, 0.3) 100%);
  --gradiention-green: linear-gradient(90deg, #4daf28 0%, #80d04b 68.27%);
  --gradiention-gold: linear-gradient(180deg, #faf8f4 0%, #ece6dc 100%);
  --gradiention-beige: linear-gradient(180deg, #fbf8ef 0%, #e9e3d5 100%);
  --gradiention-beige-2: linear-gradient(to bottom, #faf9f6 0%, #eae2d7 100%);
  --gradiention-red: linear-gradient(to right, #d7092f 0%, #8b1113 100%);
  --gradiention-red-light: linear-gradient(180deg, #d7092f 0%, #970507 100%);
  --gradiention-red-btn: linear-gradient(180deg, #f17884 0%, #c32638 100%);
  --gradiention-rainbow: linear-gradient(90deg, #e74391 10%, #fed001 35%, #33b697 65%, rgba(1, 171, 235, 0.75) 90%);
  --gradiention-blue: linear-gradient(90deg, #1762cb 0%, #5babf1 100%);
  --gradiention-black-to-transparent: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  --gradiention-black-to-top-transparent: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  --gradiention-red-fade-bottom: linear-gradient(180deg, rgba(215, 9, 47, 0) 0%, rgba(215, 9, 47, 0.2) 100%);
  --beige-1: #cdbead;
  --beige-2: #e9e3d5;
  --beige-3: #dbcfc2;
  --beige-4: #fbf8ef;
  --beige-5: #f8f3ec;
  --beige-6: #d0e8f2;
  --beige-rgb: 147,131,94;
  --newrise-modern: #705e57;
  --newrise-classic: #a48666;
  --newrise-limited: #443e3b;
  --newrise-natural: #743c1b;
  --bokulabseries-feel: #f5f3ed;
  --bokulabseries-domo: #f5f5f5;
  --bokulabseries-yell: #fdeee8;
  --bokulabseries-niimo: #d3edfb;
  --combination-housing-modern: #b68d8d;
  --combination-housing-modern-bg: #834b31;
  --combination-housing-cool: #678f9e;
  --combination-housing-cool-bg: #558090;
  --combination-housing-natural: #60845d;
  --combination-housing-natural-bg: #51784d;
  --combination-housing-point: #674a3c;
  --combination-housing-kv: #543f29;
  --ciel-series-court: #c6c6c6;
  --ciel-series-court-bg: #e6e6e6;
  --ciel-series-patio: #bcb296;
  --ciel-series-garage: #000;
  --ciel-series-garage-bg: #333;
  --ciel-series-oner: #093b07;
}