@charset 'utf-8';

// ---------- Import ----------
@use '../setting' as *;

/* IFRAME INTRO */
#intro {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 1s ease, visibility 1s ease;
    overflow: hidden;
    max-width: 100%;
}

#intro img {
    width: 100%;
    height: 100%;
}

/* Khi ẩn */
#intro.hide {
    opacity: 0;
    visibility: hidden;
}

/* Ẩn web chính lúc đầu */
#main-content {
    opacity: 0;
    transition: opacity 1s ease;
}

#main-content.show {
    opacity: 1;
}

.l-header {
    position: fixed;
    top: 15px;
    width: 100%;
    padding: 0 16px;
    z-index: 999;

    &-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        margin: 0 auto;
        background-color: rgba(var(--gray-2-rgb), 0.9);
        padding-right: 45px;
        border-radius: 999px;

        &__logo {
            max-width: 60px;
            border-radius: 999px;
            overflow: hidden;
        }

        &__load {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 500px;

            &-content {
                font-size: 16px;
                color: var(--neutral-black);
                background-color: rgba(var(--gray-2-rgb), 0.9);
                width: 100%;
                padding: 8px 28px;
                border-radius: 999px;
                background: linear-gradient(
                to right,
                #00ffcc 0%,
                #00ffcc 0%,
                #fff 0%,
                #fff 100%
            );
            transition: background 0.15s linear;
            }
        }

        &__nav {
            display: flex;
            flex-direction: row;
            gap: 80px;
            max-height: 20px;

            &-item {
                position: relative;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;

                    &::after {
                        border-top: 10px solid var(--brand-primary);
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 5px;
                    right: -30px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid var(--neutral-black);
                }
            }
        }
    }

}