@charset "utf-8";

// Setting
@use 'setting';

// ==========================================================================
// Foundation
// ==========================================================================

@use "foundation/_reset";
@use "foundation/_base";
@use "foundation/_color";

// ==========================================================================
// Layout
// ==========================================================================

@use "layout/_footer";
@use "layout/_header";
@use "layout/_main";

// ==========================================================================
// Object
// ==========================================================================

// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------

@use "object/component/btn-nav";
@use "object/component/dropdown-gallery";
@use "object/component/custom-slick";


// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------



// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------

@use "object/utility/text";
@use "object/utility/align";
@use "object/utility/margin";
@use "object/utility/padding";
@use "object/utility/column";
@use "object/utility/border";